# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environment variables
.env

# Database
db.sqlite3
db.sqlite3-journal

# Static and media files
/static/
/media/

# Django migrations
*/migrations/*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Virtual Environment
.venv